#__next {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
}

body {
    margin: 0;
}

section {
    width: 100%;
    height:100%;
}

* {
    box-sizing: border-box;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

@media only screen and (min-width: 900px) {
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}

a {
    text-decoration: none;
    display: block;
    color: black;
}

h1 {
    font-family: "goudosi";
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 1px;
    word-break: break-word;
    max-width: 80vw;
}

@font-face {
    font-family: "goudosi";
    src: url("/fonts/goudosi.otf");
    font-style: italic;
    font-weight: normal;
}

h2 {
    font-family: 'IBM Plex Mono', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 20px;
    font-weight: 500;
    letter-spacing: 1px;
}

h5 {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 11px;
    text-transform: uppercase;
    position: absolute;
    right: 30px;
    top: 10px;
    color: red;
}

h6 {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 10px;
    text-transform: uppercase;
    writing-mode: vertical-rl;
    position: absolute;
    right: 0px;
    top: 45px;
    color: red;
}



/*copiado*/

button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
  }
  
  button:hover,
  button:focus {
      background:transparent;
  }
  
  button:focus {
      outline: none;
  }