a {
    text-decoration: none;
    display: block;
    color: black;
}

li a:hover {
    text-decoration: none;
}

li a:hover {
    text-decoration: none;
    color: white;
}

main {
    max-width: 75%;
    margin: auto;
}

