.responsive {
    float: left;
    width: 100%;
    display: flex;
}

@media only screen and (min-width: 900px) {
    .responsive {
        float: left;
        width: 75%;
        display: flex;
    }
  }

.content {
    border-style: solid;
    box-shadow: -10px  -10px;
    background-color: white;
}

.column {
    float: left;
    width: 100%;
    padding: 10px;
}

@media only screen and (min-width: 600px) {
    .column {
      width: 33.3%;
    }
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.footerlist {
    float: left;
    display:block;
    list-style-type: none;
}

.footeritem {
    color: black;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 1px;
}