.navbarlist {
  display: block;
  background: rgb(255, 255, 255);
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  width: 25%;
  min-width: 180px;
  max-width: 200px;
  font-size: 25px;
  position: fixed;
  height: 100%;
}

.navbaritem {
  list-style-type: none;
  display: block;
  color: black;
  padding: 8px 16px;
}

.navbaritem:hover {
  background: #555;
  color: white;
}

.navbarsociallist {
  list-style-type: none;
  margin: 0px;
  padding: 0px;

}

.navbarsocialitem {
  float: left;
  display:block;
  color: black;
  padding: 14px 16px;
}