.column {
    float: left;
    width: 30%;
    padding: 20px;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
@media screen and (max-width: 900px) {
    .column {
      width: 100%;
    }
}

.row:after {
    content: "";
    display: table;
    clear: both;
}