.hello {
    font-family: "goudosi";
    font-size: 1000%;
    font-weight: normal;
    float: left;
}

.text {
    float: left;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 150%;
    text-transform: uppercase;
    line-height: 150%;
    font-weight: 300;
    text-align: right;
}

.column {
    float: left;
    width: 100%;
    padding: 10px;
}

@media screen and (max-width: 900px) {
    .column {
        float: left;
        width: 35%;
        padding: 10px;
    }

    .hello {
        font-family: "goudosi";
        font-size: 400%;
        font-weight: normal;
    }

    .photo {
        box-shadow: -10px  -10px;
        max-height: 200vw;
    }

    .links {
        font-family: 'IBM Plex Mono', monospace;
        font-size: 50%;
        text-transform: uppercase;
        text-align: right;
        float: right;
    }
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.photo {
    box-shadow: -10px  -10px;
    max-height: 40vw;
    float: left;
}

.list {
    list-style-type: none;
}

.item {
    float: right;
}

.links {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 350%;
    text-transform: uppercase;
    font-weight: 300;
    text-align: right;
}