.main {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  margin-left: 300px;
  align-items: baseline;
  min-height: 870px;
  align-content: space-between;
}


.nav {
  display: flex;
  flex-wrap: wrap;
}

.foot {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

@media only screen and (max-width: 900px) {
  .main {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 100px;
  }

  .foot {
    display: flex;
    flex-flow: row wrap;
    margin-left: 0;
  }
}